[submodule "FlashPunk"]
	path = FlashPunk
	url = https://github.com/Draknek/FlashPunk.git
[submodule "JavaPunk"]
	path = JavaPunk
	url = git@github.com:dandelarosa/JavaPunk.git
[submodule "FakeFlash-Java"]
	path = FakeFlash-Java
	url = git@github.com:dandelarosa/FakeFlash-Java.git
